include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center
            .col-2
                .inner-logo    
                    a(href="/")
                        img(src=setting.websiteLogo height="50px" alt="Logo")

            .col-4
                form(action="/search" method="GET")
                    .form-group.d-flex.mb-0
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button.btn.btn-primary(type=submit) Tìm
            .col-6
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li.sub-menu
                            -const pathProducts = "/products"
                            a(href="/products") Sản phẩm
                            +sub-menu(layoutProductCategory, pathProducts)
                            //- ul
                                //- li
                                //-     a(href="/products/slug-1") Mục 1
                                //-     ul
                                //-         li
                                //-             a(href="/products/slug-1-1") Mục 1 - 1
                                //-         li
                                //-             a(href="/products/slug-1-2") Mục 1 - 2
                                //-             ul
                                //-                 li
                                //-                     a(href="/products/slug-1-2-1") Mục 1 - 2 - 1
                                //-                 li
                                //-                     a(href="/products/slug-1-2-2") Mục 1 - 2 - 2
                                //- li
                                //-     a(href="/products/slug-2") Mục 2
                        li
                            a(href="/cart")
                                i(class="fa fa-shopping-cart") 
                                |  Giỏ hàng(#{miniCart ? miniCart.totalQuantity : 0})
                        if (!user)
                            li 
                                a(href="/user/register") Đăng kí
                            li 
                                a(href="/user/login") Đăng nhập
                        else
                            li
                                a.btn.btn-success.text-white(href="/user/info") #{user.fullName}
                            li
                                a(href="/friend/friends") Bạn bè
                            li
                                a(href="/chatroom") Nhắn tin
                            li
                                a(href="/user/logout") Đăng xuất 
                        

                


