extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)
        .row 
            .col-12   
                .chat 
                    .inner-body     
                        each message in messages 
                            if (message.user_id != user.id)
                                .inner-incoming 
                                    .inner-name #{message.infoUser.fullName}
                                    .inner-content #{message.content}
                            else 
                                .inner-outgoing
                                    .inner-content #{message.content}
                    .inner-foot
                        form.inner-form(action="")
                            input(
                                type="text"
                                name="content" 
                                placeholder="Nhập nội dung"
                                required
                            ) 
                            button
                                i.fa-solid.fa-paper-plane
