extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block link
    link(rel="stylesheet" href="https://unpkg.com/file-upload-with-preview@6.1.2/dist/style.css")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.css")

block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)
        .row 
            .col-12   
                .chat(my-id=user.id)
                    .inner-body     
                        each message in messages 
                            if (message.user_id != user.id)
                                .inner-incoming 
                                    .inner-name #{message.infoUser.fullName}
                                    if (message.content)
                                        .inner-content #{message.content}
                                    if (message.images.length > 0)
                                        each image in message.images 
                                            .inner-images
                                                img(src=image, alt=image)
                                    
                            else 
                                .inner-outgoing
                                    if (message.content)
                                        .inner-content #{message.content}
                                    if (message.images.length > 0)
                                        each image in message.images 
                                            .inner-images
                                                img.viewer-img(src=image, alt=image)
                                    
                        .inner-list-typing

                    .inner-preview-images
                        .custom-file-container(data-upload-id="upload-images")

                    .inner-foot
                        form.inner-form(action="")
                            input(
                                type="text"
                                name="content" 
                                placeholder="Nhập nội dung"
                            ) 
                            span.button-upload-images
                                i.fa-solid.fa-image
                            span.button-emoji-icon 
                                i.fa-solid.fa-face-smile
                            button
                                i.fa-solid.fa-paper-plane
    .tooltip(role="tooltip")
        emoji-picker.light


block script 
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")

    script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.js") 
    

    script(type="module" src="/js/chat.js")


